<form [formGroup]="form">
  <mat-form-field>
    <input
      matInput
      placeholder="calle"
      formControlName="calle"
      [(ngModel)]="departamento.calle"
      name="calle"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="ciudad"
      formControlName="ciudad"
      [(ngModel)]="departamento.ciudad"
      name="ciudad"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="provincia"
      formControlName="provincia"
      [(ngModel)]="departamento.provincia"
      name="provincia"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="pais"
      formControlName="pais"
      [(ngModel)]="departamento.pais"
      name="pais"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Codigo Postal"
      formControlName="codPostal"
      [(ngModel)]="departamento.codigoPostal"
      name="codigoPostal"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="tipo"
      formControlName="tipo"
      [(ngModel)]="departamento.tipo"
      name="tipo"
    />
  </mat-form-field>
  <input
    type="file"
    (change)="onFileSelected($event)"
    formControlName="archivo"
    #fileInput
    multiple
  />
  <div>
    <button mat-raised-button (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button (click)="onSubmit()" [disabled]="form.invalid">
      Enviar
    </button>
  </div>
</form>
