<h1 mat-dialog-title>Publicar</h1>
<h3>Datos</h3>
<form [formGroup]="form" class="box">
  <mat-form-field>
    <input
      matInput
      placeholder="calle"
      formControlName="calle"
      [(ngModel)]="departamento.calle"
      name="calle"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Ciudad"
      formControlName="ciudad"
      [(ngModel)]="departamento.ciudad"
      name="ciudad"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Provincia"
      formControlName="provincia"
      [(ngModel)]="departamento.provincia"
      name="provincia"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Pais"
      formControlName="pais"
      [(ngModel)]="departamento.pais"
      name="pais"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Codigo Postal"
      formControlName="codPostal"
      [(ngModel)]="departamento.codigoPostal"
      name="codigoPostal"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select [(ngModel)]="selectedTipo" formControlName="tipo">
      <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
        {{ tipo.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <input
    type="file"
    (change)="onFileSelected($event)"
    formControlName="archivo"
    #fileInput
    multiple
  />
  <div>
    <button mat-raised-button (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button (click)="onSubmit()" [disabled]="form.invalid">
      Enviar
    </button>
  </div>
</form>
