<form>
  <mat-form-field>
    <input
      matInput
      placeholder="Titulo"
      [(ngModel)]="data.titulo"
      name="titulo"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Localidad"
      [(ngModel)]="data.localidad"
      name="localidad"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="telefono"
      [(ngModel)]="data.telefono"
      name="telefono"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Direccion"
      [(ngModel)]="data.direccion"
      name="direccion"
    />
  </mat-form-field>

  <input type="file" (change)="handleFileInput($event)" #fileInput multiple />
  <div>
    <button mat-raised-button (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button (click)="onSubmit()">Enviar</button>
  </div>
</form>
