<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <div style="display: flex; width: 100%">
        <mat-card-title>{{ departamento.tipo.toUpperCase() }}</mat-card-title>
        <div style="width: 100%"></div>
        <mat-card-subtitle>{{ formattedDate }}</mat-card-subtitle>
        <button *ngIf="rolAdmin" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="eliminar()">Eliminar</button>
          <button mat-menu-item>Modificar</button>
        </mat-menu>
      </div>
    </mat-card-header>
    <app-galleria-imagenes [images]="departamento.fotos">
    </app-galleria-imagenes>
    <mat-card-content>
      <h1>Ciudad: {{ departamento.ciudad }}</h1>
      <h1>Provincia: {{ departamento.provincia }}</h1>
      <h1>Pais: {{ departamento.pais }}</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
        adipisci omnis asperiores officia quibusdam aliquid veritatis
        dignissimos? Eum rem, neque quos deleniti obcaecati voluptas consectetur
        animi consequatur officiis distinctio delectus!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>{{ departamento.tipo.toUpperCase() }}</button>
      <button mat-button>Reservar</button>
    </mat-card-actions>
  </mat-card>
</div>
