<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ departamento.tipo.toUpperCase() }}</mat-card-title>
      <mat-card-subtitle>{{ departamento.ciudad }}</mat-card-subtitle>
    </mat-card-header>
    <app-galleria-imagenes [images]="departamento.fotos">
    </app-galleria-imagenes>
    <mat-card-content>
      <p>{{ departamento.provincia }}</p>
      <p>{{ departamento.pais }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>{{ departamento.tipo.toUpperCase() }}</button>
      <button mat-button>Reservar</button>
    </mat-card-actions>
  </mat-card>
</div>
