<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [opened]="shouldRun" class="example-events">
    <mat-list-item class="lista">
      <button
        mat-button
        color="accent"
        class="lista"
        [routerLink]="['/dashboard/misPublicaciones']"
      >
        <mat-icon mat-list-icon>book </mat-icon>
        <mat-label>Mis Publicaciones</mat-label>
      </button>
    </mat-list-item>
    <mat-list-item class="lista">
      <button
        mat-button
        color="accent"
        class="lista"
        [routerLink]="['/dashboard/configuracion']"
      >
        <mat-icon mat-list-icon> settings </mat-icon>
        <mat-label>Configuración</mat-label>
      </button>
    </mat-list-item>
    <mat-list-item class="lista">
      <button
        mat-button
        color="accent"
        class="lista"
        [routerLink]="['/dashboard/admin-usuarios']"
      >
        <mat-icon mat-list-icon> admin_panel_settings </mat-icon>
        <mat-label>Admin</mat-label>
      </button>
    </mat-list-item>

    <mat-list-item class="lista">
      <button
        mat-button
        color="accent"
        class="lista"
        [routerLink]="['/login']"
        (click)="cerrarSession()"
      >
        <mat-icon mat-list-icon> logout </mat-icon>
        <mat-label>Logout</mat-label>
      </button>
    </mat-list-item>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/dashboard']" class="colorletras"> Inmobilaria </a>

    <div style="width: 100%"></div>
    <button mat-button [routerLink]="'search'">
      <mat-icon mat-list-icon> search </mat-icon>
    </button>
    <button mat-button style="width: 150px" (click)="openModal()">
      <mat-icon mat-list-icon> library_add </mat-icon>
      <mat-label>Publicar</mat-label>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
