<div class="searchs">
  <div style="display: inline">
    <mat-form-field style="width: 80%">
      <mat-label>Search</mat-label>
      <input
        matInput
        [(ngModel)]="searchText"
        placeholder="Search..."
        (keyup)="filterArticles()"
        autocomplete="off"
      />
    </mat-form-field>
  </div>
  <div style="display: inline">
    <mat-form-field style="width: 20%">
      <mat-label>Filter</mat-label>
      <mat-select [(ngModel)]="selectedFilter" (change)="filterArticles()">
        <mat-option *ngFor="let filter of filters" [value]="filter.value">
          {{ filter.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="toolbarTitulo">
    <!-- <mat-toolbar style="background-color: #fff159">
    <span>Inicio</span>
  </mat-toolbar> -->
    <mat-grid-list cols="2" rowHeight="" gutterSize="10px">
      <mat-grid-tile
        *ngFor="let item of departamentosFiltrados"
        style="border-radius: 50px"
      >
        <div class="article-card">
          <!-- <img [src]="item.fotos.foto1" alt="" width="700px" /> -->
          <app-image-viewer-component
            [images]="item.fotos"
          ></app-image-viewer-component>
          <h3>{{ item.titulo }}</h3>
          <p>{{ item.localidad }}</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
