<div class="toolbarTitulo">
  <mat-toolbar style="background-color: #fff">
    <span>Mis reservas</span>
  </mat-toolbar>

  <table mat-table [dataSource]="this.items" class="mat-elevation-z8">
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Mail</th>
      <td mat-cell *matCellDef="let element">{{ element.usuario.email }}</td>
    </ng-container>

    <ng-container matColumnDef="calle">
      <th mat-header-cell *matHeaderCellDef>Calle</th>
      <td mat-cell *matCellDef="let element">{{ element.propiedad.calle }}</td>
    </ng-container>

    <ng-container matColumnDef="ciudad">
      <th mat-header-cell *matHeaderCellDef>Ciudad</th>
      <td mat-cell *matCellDef="let element">{{ element.propiedad.ciudad }}</td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fecha.toString().replace("T03:00:00.000Z", "") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef>Hora</th>
      <td mat-cell *matCellDef="let element">{{ element.hora }}</td>
    </ng-container>

    <ng-container matColumnDef="Accion">
      <th mat-header-cell *matHeaderCellDef>Accion</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          *ngIf="!element.confirmada"
          (click)="aceptar(element._id)"
        >
          Aceptar
        </button>
        <button mat-button (click)="rechazar(element._id)">Rechazar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngStyle]="{
        'background-color': !row.confirmada ? 'red' : 'transparent'
      }"
    ></tr>
  </table>
</div>
