<div class="toolbarTitulo">
  <mat-toolbar style="background-color: #fff">
    <span>Configuracion</span>
  </mat-toolbar>
  <form>
    <mat-toolbar style="background-color: #fff">
      <span>Configuracion General</span>
    </mat-toolbar>

    <mat-form-field class="ancho">
      <mat-label>Mail</mat-label>
      <input
        matInput
        placeholder="Mail"
        autocomplete="off"
        [value]="mail"
        name="mail"
        [(ngModel)]="mail"
      />
    </mat-form-field>
    <mat-form-field class="ancho">
      <mat-label>Telefono</mat-label>
      <input
        matInput
        placeholder="Telefono"
        autocomplete="off"
        [value]="telefono"
        name="telefono"
        [(ngModel)]="telefono"
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="ancho button"
      type="submit"
      (click)="guardarCambiosGenerales()"
    >
      Guardar Cambios
    </button>

    <mat-toolbar style="background-color: #fff">
      <span>Seguridad</span>
    </mat-toolbar>
    <mat-form-field class="ancho">
      <mat-label>Cambiar Contraseña</mat-label>
      <input
        matInput
        type="password"
        placeholder="Cambiar Contraseña"
        name="password"
        [(ngModel)]="password"
        autocomplete="off"
      />
    </mat-form-field>
    <mat-form-field class="ancho">
      <mat-label>Repetir Contraseña</mat-label>
      <input
        matInput
        type="password"
        placeholder="Repetir Contraseña"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        autocomplete="off"
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="ancho button"
      type="submit"
      (click)="cambiarPassword()"
    >
      Cambiar Contraseña
    </button>
    <mat-toolbar style="background-color: #fff" (click)="eliminar()">
      <span>Eliminar cuenta</span>
    </mat-toolbar>
    <div *ngIf="btnEliminar">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="confirmar()"
        style="margin-right: 5px"
      >
        Confirmar
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="cancelar()"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
