.article-card {
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px #888;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

img {
    max-width: 100%;
    border-radius: 50px 50px 0px 0px;
    -webkit-border-radius: 50px 50px 0px 0px;
    -moz-border-radius: 50px 50px 0px 0px;
    -ms-border-radius: 50px 50px 0px 0px;
    -o-border-radius: 50px 50px 0px 0px;
}

.article-card:hover {
    box-shadow: 0px 0px 10px #888;
    transform: scale(1.01);
    cursor: pointer;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}